@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap');

:root {
	--popper-theme-background-color: #333333;
	--popper-theme-background-color-hover: #333333;
	--popper-theme-text-color: #ffffff;
	--popper-theme-border-width: 0px;
	--popper-theme-border-style: solid;
	--popper-theme-border-radius: 6px;
	--popper-theme-padding: 10px;
	--popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

body {
	font-family: 'Inter', sans-serif;
}

input,
textarea,
button {
	&:focus {
		@apply outline-none;
	}
}

button {
	@apply select-none;
	&:disabled {
		@apply cursor-default;
	}
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.checkbox {
	@apply hidden;
	& + label {
		@apply ring-gray-300 bg-white text-gray-400;
		.checkbox-icon {
			@apply hidden;
		}
	}
	&:checked + label {
		@apply ring-primary-500 bg-primary-500 text-white;
		.checkbox-icon {
			@apply block;
		}
	}
}

.toggle {
	@apply hidden border-none;
	& + label {
		@apply bg-gray-200 text-gray-400 transition-all duration-150;
		.toggle-circle {
			@apply bg-white rounded-full shadow transition-all transform;
		}
	}
	&:checked + label {
		@apply bg-primary-500 text-white;
		.toggle-circle {
			@apply translate-x-full;
		}
	}
}

.full-center {
	@apply h-screen w-screen flex justify-center items-center;
}
